html,
body,
div,
span,
i,
ul,
li,
canvas,
nav {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  background-color: #e8e8e8;
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  overflow-y: hidden;
}

.cursor {
  position: absolute;
  border-radius: 50%;
  cursor: crosshair;
  pointer-events: none;
}

#myCanvas {
  width: 100%;
  margin-top: -28px;
  cursor: crosshair;
}

.navbar {
  width: 100%;
  height: 80px;
  line-height: 80px;
  background-color: rgb(255, 255, 255);
}

.my-navbar-nav {
  width: 80%;
  text-align: center;
  flex-direction: row;
  font-family: helvetica;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  transition: all 0.3s;
}

.nav-item {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: black;
  user-select: none;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {

    .material-icons,
    .my-nav-link {
      color: #b37708;
    }
  }

  &:active .material-icons {
    transform: scale(1.1);
  }
}

.my-nav-link,
.nav-zoom {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.nav-zoom {
  width: 60px;
  margin-left: -30px;
  margin-right: -30px;
}

.nav-item,
.nav-item:nth-child(1),
.nav-item:nth-child(3),
.nav-item:nth-child(4) {
  >.material-icons {
    font-size: 48px;
    padding-right: 7px;
  }
}

.nav-item:nth-child(2) {
  >.material-icons {
    font-size: 60px;
  }
}

.nav-item:nth-child(5) {
  .material-icons {
    font-size: 48px;
    padding-right: 0px;
  }
}

.navbar-toggle {
  display: block;
  width: 56px;
  height: 56px;
  background-color: white;
  margin: 0 auto;
  margin-top: -28px;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  z-index: 9999;
}

.arrow-down {
  display: block;
  font-size: 0.8rem;
  z-index: 9999;
  position: absolute;
  top: 34px;
  left: 22px;
  transform: rotate(-90deg);
  transition: all 0.3s ease-in;
  user-select: none;
  cursor: pointer;
}

.tools {
  max-width: 820px;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: baseline;
  background-color: #fff;
  position: fixed;
  bottom: 40px;
  border-radius: 40px;
  left: calc((100% - 820px) / 2);
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 15px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-in-out;
  user-select: none;

  >.tools-item .brush-icon,
  .tools-item .fa-eraser {
    cursor: pointer;
    font-size: 44px;
    padding-left: 40px;

    &.active {
      color: #ffc107;
    }

    &:active {
      transform: scale(1.1);
    }
  }

  >.tools-item .fa-eraser {
    padding-left: 20px;
    padding-right: 30px;
  }

  .item-number {
    width: 74px;
    height: 48px;
    background-color: #e8e8e8;
    border: none;
    border-radius: 40px;
    margin: 0 8px 0 8px;
    font-size: 15px;
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0 0 0 16px;
    overflow: hidden;
    box-sizing: border-box;
  }

  input[type="text"]:focus,
  input:focus {
    outline: none;
  }

  .tools-toggle {
    display: block;
    width: 56px;
    height: 56px;
    background-color: white;
    margin: 0 auto;
    margin-top: -80px;
    left: calc((820px - 56px) / 2);
    border-radius: 56px;
    position: absolute;
    cursor: pointer;
  }

  .arrow-down {
    display: block;
    font-size: 0.8rem;
    z-index: 9999;
    position: absolute;
    top: 8px;
    left: 22px;
    transform: rotate(90deg);
    transition: all 0.3s ease-in;
  }
}

.tools-hide {
  bottom: -120px;
}

.brush {
  width: 56px;
  height: 56px;
  border-radius: 56px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
  background-color: white;
  position: fixed;
  bottom: 40px;
  left: calc((100% - 56px) / 2);
  line-height: 66px;
  text-align: center;
  user-select: none;
  cursor: pointer;
  transition: all 0.2s ease-in;

  &:hover {
    transform: scale(1.1);
  }
}

.colors {
  display: flex;
  align-items: center;
  padding-left: 30px;
  user-select: none;
  list-style: none;

  .material-icons {
    color: transparent;
    font-size: 1rem;
    line-height: 40px;
    padding-left: 12px;
    text-align: center;
  }

  .color-item {
    width: 48px;
    height: 48px;
    color: white;
    border-radius: 50%;
    margin-right: 8px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s;

    &.active {
      .material-icons {
        color: black;
      }
    }

    &:active {
      transform: scale(1.1);
    }
  }

  .color-item:nth-child(1) {
    width: 46px;
    height: 46px;
    border: 2px solid #000000;
    margin-left: 16px;
  }

  .color-item:nth-child(2) {
    &.active {
      .material-icons {
        color: white;
      }
    }
  }

  .color-item:nth-child(6) {
    width: 48px;
    height: 48px;
    z-index: 9999999999;
    display: block;
    position: relative;
    overflow: hidden;

    &.active {
      .material-icons {
        color: rgb(120, 120, 120);
        z-index: 9999;
        position: absolute;
        pointer-events: none;

        &.active {
          color: black;
        }
      }
    }
  }

  input[type="color"] {
    width: 60px;
    height: 60px;
    position: absolute;
    top: -20%;
    left: -20%;
    border: transparent;
    cursor: pointer;
    border-radius: 50%;
    border: 3px solid #ffffff;
  }
}