.modal-window {
    position: fixed;
    background-color: rgba(15, 15, 15, 0.25);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    &:target {
      visibility: visible;
      opacity: 1;
      pointer-events: auto;
    }
    & > div {
      width: 800px;
      height: 700px;
      position: absolute;
      top: 50%;
      left: 40%;
      transform: translate(-50%, -50%);
      padding: 12em;
      background-image: url('https://i.imgur.com/gRuS0UT.png');
      background-size: cover;
    }
    header {
      font-weight: bold;
    }
    h1 {
      font-size: 150%;
      margin: 0 0 15px;
    }
  }