.mb-1rem {
    margin-bottom: 1rem;
  }
  .vue-select-image__wrapper {
    overflow: auto;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    text-align: center;
  }
  
  .vue-select-image__item {
    margin: 0px 12px 12px 0px;
    // float: left;
    display: inline-block;
    width: 18%;
    height: auto;
  }
  
  .vue-select-image__thumbnail{
    cursor: pointer;
    padding: 6px;
    border: 1px solid #dddddd;
  
    display: block;
    padding: 4px;
    line-height: 20px;
    border: 1px solid #ddd;
  
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  
  .vue-select-image__thumbnail--selected{
    background: #ffc107;
  }
  
  .vue-select-image__thumbnail--disabled{
    background: #b9b9b9;
    cursor: not-allowed;
  }
  
  .vue-select-image__thumbnail--disabled > .vue-select-image__img{
    opacity: .5;
  }
  
  .vue-select-image__img{
    -webkit-user-drag: none;
    display: block;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  
  .vue-select-image__lbl{
    line-height: 3;
  }
  
  @media only screen and (min-width: 1200px) {
    .vue-select-image__item {
      margin-left: 30px;
    }
  }
  
  $color-basic-friedject: #ffc107;
  $color-white: #ffffff;
  $icon-margin: 5px;
    
  button {
        font-family: "Poppins", sans-serif;  
        font-size: 1rem;
        padding: 8px 20px;
        cursor: pointer;
        border: 2px solid transparent;
      
    
        &:focus, &:active {
            outline: none;
        }
        &.basic {
    
            &.outline {
                background-color: $color-white;
                color: $color-basic-friedject;
                border-color: $color-basic-friedject;
                width: 15rem;
                height: 3rem;
                display: block;
                margin: auto;
    
                &:hover {
                    background-color:  $color-basic-friedject;
                    border-color:  $color-basic-friedject;
                    color: $color-white;
                }
            }
        }
    }